<div id="<%= dom_id event %>">
  <span><strong>Event Name:</strong> <%= event.name %>, </span>
  <span><strong>Capacity:</strong> <%= event.capacity %>, </span>
  <span><strong>Timeout:</strong> <%= event.timeout %>mins</span>
</div>